<header pageTitle="Admin" iconTitle="settings"></header>

<!-- <dash-header pageTitle="Admin" imageUrl="settings" helpType="homepage"></dash-header> -->
<mat-tab-group>
    <mat-tab label="Users">
        <adminusers></adminusers>
    </mat-tab>
    <mat-tab label="Carts">
                <admincarts></admincarts>
    </mat-tab>
    <mat-tab label="Products">
          <setproduct></setproduct>
    </mat-tab> 
    <mat-tab label="Orders">
                <adminorders></adminorders>
    </mat-tab>
</mat-tab-group>